.image-content {
  display: flex;
  align-items: center;

  .upload-image {
    background: #ddd;
    padding: 5px;
    cursor: pointer;
    width: 60%;
    .label-upload {
      cursor: pointer;
    }

    &:hover {
      opacity: 0.9;
    }
  }
  .preview-image {
    margin-left: 3px;
    height: 60px;
    width: 100%;
    border: 1px solid #ddd;
    background: center center no-repeat;
    background-size: contain;
    cursor: pointer;
  }
}
