.detail-specialty-container {
  .description-specialty {
    border: 1px solid red;
    height: 200px;
    margin: 10px;
  }

  .each-doctor {
    display: flex;
    margin: 20px;

    .content-left {
      width: 40%;

      .profile-doctor {
        .intro-doctor {
          margin: 0 !important;
          padding-left: 5px;

          .up {
            padding: 5px !important;
            margin-bottom: 0 !important;
          }

          .down {
            padding-left: 8px !important;
          }
        }
        .image {
          height: 100% !important;
          width: 100% !important;
        }
      }
    }
    .content-right {
      width: 60%;
      border-right: 1px solid #555;
      padding-right: 5px;
      .doctor-schedule {
        padding-bottom: 5px;

        .all-schedule {
          padding: 5px !important;
        }

        .text-calendar {
          margin-bottom: 5px !important;
        }

        .book-free {
          margin-top: 10px;
        }
      }
      .doctor-extra-info {
        border-top: 1px solid #ddd;
        padding-top: 10px;
      }
    }
  }
}
