.home-header-container {
  height: 60px;
  width: 100%;

  .home-header-content {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 50px;
    margin-top: 10px;

    .left-content {
      width: 25%;
      display: flex;
      align-items: center;

      .header-logo {
        background: url("../../assets/bookingcare_logo.svg") center center
          no-repeat;
        height: 100%;
        width: 100%;
        cursor: pointer;
      }
      i {
        font-size: 25px;
        color: gray;
        cursor: pointer;
      }
    }
    .center-content {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .child-content {
        div {
          b {
            color: #333;
            font-weight: bold;
            font-size: 15px;
          }
        }

        .sub-title {
          font-weight: lighter;
          font-size: 12px;
          display: block;
        }
      }
    }
    .right-content {
      width: 25%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .support {
        padding-right: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;

        i {
          font-size: 15px;
          margin-right: 5px;
        }

        .support-icon {
          font-size: 20px;
          background: #45c3d2;
          border-radius: 50%;
          height: 30px;
          width: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }
      }
      .language-vi {
        margin: 0 10px;
        cursor: pointer;

        &.active {
          color: blue;
        }
      }
      .language-en {
        margin: 0 10px;
        cursor: pointer;

        &.active {
          color: blue;
        }
      }
    }
  }
}

.home-header-banner {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(255, 255, 255, 0.1)
    ),
    url("../../assets/header-background.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 485px;
  width: 100%;
  background-size: cover;
  margin: 15px 0;
  display: flex;
  flex-direction: column;

  .content-up {
    height: 50%;
    .title1 {
      text-align: center;
      font-size: 32px;
      text-shadow: 3px 3px 3px #333;
      color: rgb(158, 196, 71);
      font-weight: bold;
      margin-bottom: 10px;
    }
    .title2 {
      text-align: center;
      font-size: 30px;
      text-shadow: 2px 2px 2px #333;
      color: rgb(204, 247, 32);
      font-weight: bold;
      margin-bottom: 50px;
    }
    .search {
      background: #f7d800;
      color: #fff;
      outline: none;
      border-radius: 25px;
      border: 1px solid transparent;
      align-items: center;
      width: fit-content;
      display: flex;
      margin: 0 auto;
      width: 400px;

      i {
        background: #f7d800;
        color: #fff;
        outline: none;
        border-radius: 25px;
        border: 1px solid transparent;
        line-height: 50px;
        height: 50px;
        padding-left: 12px;
        padding-right: 25px;
        position: relative;
        font-size: 30px;
      }
      input {
        background: transparent;
        outline: none;
        border: none;
        width: 100%;
        font-size: 30px;

        &::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: white;
          opacity: 1; /* Firefox */
        }
      }
    }
  }
  .content-down {
    height: 50%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 1)
    );

    .options {
      display: flex;
      border-bottom: 0;
      gap: 35px;
      align-self: flex-end;
      margin-bottom: 10px;

      .option1 {
        cursor: pointer;
        .icon {
          background: #fff;
          border-radius: 50%;
          -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
          width: fit-content;
          height: fit-content;
          margin: 2px auto;
          background-size: 32px;
          background-repeat: no-repeat;
          background-position: center;
          padding: 10px;

          .image {
            height: 50px;
            width: 50px;
            background: url("../../assets/header-options/option_1.png") center
              center no-repeat;
            background-size: cover;
          }
        }
        .text {
          text-align: center;
          padding: 5px 5px;
          color: #333;
          display: inline-block;
          position: relative;
          font-size: 14px;
          font-weight: bold;
          height: 55px;
          width: 100px;
          &:hover {
            color: #2e7eed;
          }
        }
      }
      .option2 {
        cursor: pointer;
        .icon {
          background: #fff;
          border-radius: 50%;
          -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
          width: fit-content;
          height: fit-content;
          margin: 2px auto;
          background-size: 32px;
          background-repeat: no-repeat;
          background-position: center;
          padding: 10px;
          .image {
            background: url("../../assets/header-options/option_2.png") center
              center no-repeat;
            height: 50px;
            width: 50px;
            background-size: cover;
          }
        }
        .text {
          text-align: center;
          padding: 5px 5px;
          color: #333;
          display: inline-block;
          position: relative;
          font-size: 14px;
          font-weight: bold;
          height: 55px;
          width: 100px;

          &:hover {
            color: #2e7eed;
          }
        }
      }
      .option3 {
        cursor: pointer;
        .icon {
          background: #fff;
          border-radius: 50%;
          -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
          width: fit-content;
          height: fit-content;
          margin: 2px auto;
          background-size: 32px;
          background-repeat: no-repeat;
          background-position: center;
          padding: 10px;
          .image {
            background: url("../../assets/header-options/option_3.png") center
              center no-repeat;
            height: 50px;
            width: 50px;
            background-size: cover;
          }
        }
        .text {
          text-align: center;
          padding: 5px 5px;
          color: #333;
          display: inline-block;
          position: relative;
          font-size: 14px;
          font-weight: bold;
          height: 55px;
          width: 100px;
          &:hover {
            color: #2e7eed;
          }
        }
      }
      .option4 {
        cursor: pointer;
        .icon {
          background: #fff;
          border-radius: 50%;
          -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
          width: fit-content;
          height: fit-content;
          margin: 2px auto;
          background-size: 32px;
          background-repeat: no-repeat;
          background-position: center;
          padding: 10px;
          .image {
            background: url("../../assets/header-options/option_4.png") center
              center no-repeat;
            height: 50px;
            width: 50px;
            background-size: cover;
          }
        }
        .text {
          text-align: center;
          padding: 5px 5px;
          color: #333;
          display: inline-block;
          position: relative;
          font-size: 14px;
          font-weight: bold;
          height: 55px;
          width: 100px;
          &:hover {
            color: #2e7eed;
          }
        }
      }
      .option5 {
        cursor: pointer;
        .icon {
          background: #fff;
          border-radius: 50%;
          -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
          width: fit-content;
          height: fit-content;
          margin: 2px auto;
          background-size: 32px;
          background-repeat: no-repeat;
          background-position: center;
          padding: 10px;
          .image {
            background: url("../../assets/header-options/option_5.png") center
              center no-repeat;
            height: 50px;
            width: 50px;
            background-size: cover;
          }
        }
        .text {
          text-align: center;
          padding: 5px 5px;
          color: #333;
          display: inline-block;
          position: relative;
          font-size: 14px;
          font-weight: bold;
          height: 55px;
          width: 100px;
          &:hover {
            color: #2e7eed;
          }
        }
      }
      .option6 {
        cursor: pointer;
        .icon {
          background: #fff;
          border-radius: 50%;
          -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
          width: fit-content;
          height: fit-content;
          margin: 2px auto;
          background-size: 32px;
          background-repeat: no-repeat;
          background-position: center;
          padding: 10px;
          .image {
            background: url("../../assets/header-options/option_6.png") center
              center no-repeat;
            height: 50px;
            width: 50px;
            background-size: cover;
          }
        }
        .text {
          text-align: center;
          padding: 5px 5px;
          color: #333;
          display: inline-block;
          position: relative;
          font-size: 14px;
          font-weight: bold;
          height: 55px;
          width: 100px;
          &:hover {
            color: #2e7eed;
          }
        }
      }
      .option7 {
        cursor: pointer;
        .icon {
          background: #fff;
          border-radius: 50%;
          -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
          width: fit-content;
          height: fit-content;
          margin: 2px auto;
          background-size: 32px;
          background-repeat: no-repeat;
          background-position: center;
          padding: 10px;
          .image {
            background: url("../../assets/header-options/option_7.png") center
              center no-repeat;
            height: 50px;
            width: 50px;
            background-size: cover;
          }
        }
        .text {
          text-align: center;
          padding: 5px 5px;
          color: #333;
          display: inline-block;
          position: relative;
          font-size: 14px;
          font-weight: bold;
          height: 55px;
          width: 100px;
          &:hover {
            color: #2e7eed;
          }
        }
      }
      .option8 {
        cursor: pointer;
        .icon {
          background: #fff;
          border-radius: 50%;
          -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
          width: fit-content;
          height: fit-content;
          margin: 2px auto;
          background-size: 32px;
          background-repeat: no-repeat;
          background-position: center;
          padding: 10px;
          .image {
            background: url("../../assets/header-options/option_8.png") center
              center no-repeat;
            height: 50px;
            width: 50px;
            background-size: cover;
          }
        }
        .text {
          text-align: center;
          padding: 5px 5px;
          color: #333;
          display: inline-block;
          position: relative;
          font-size: 14px;
          font-weight: bold;
          height: 55px;
          width: 100px;
          &:hover {
            color: #2e7eed;
          }
        }
      }
      .option9 {
        cursor: pointer;
        .icon {
          background: #fff;
          border-radius: 50%;
          -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
          width: fit-content;
          height: fit-content;
          margin: 2px auto;
          background-size: 32px;
          background-repeat: no-repeat;
          background-position: center;
          padding: 10px;
          .image {
            background: url("../../assets/header-options/option_9.png") center
              center no-repeat;
            height: 50px;
            width: 50px;
            background-size: cover;
          }
        }
        .text {
          text-align: center;
          padding: 5px 5px;
          color: #333;
          display: inline-block;
          position: relative;
          font-size: 14px;
          font-weight: bold;
          height: 55px;
          width: 100px;
          &:hover {
            color: #2e7eed;
          }
        }
      }
    }
  }
}

.test-main {
  position: relative;
  .test {
    background: url("../../assets/header-background.png") center center
      no-repeat;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px; /* Optional: Add a border radius to make the image rounded */
  }
  .oval-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mask-image: url("../../assets/header-background.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background-color: rgba(
      0,
      0,
      0,
      0.8
    ); /* Set the desired opacity for the area outside the oval */
    z-index: 1; /* Optional: Ensure the mask is positioned above the image */
  }
}
