.section-share {
  display: flex;
  flex-direction: column;

  &.section-about {
    height: 500px !important;
    padding: 0 100px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
  }

  .section-content {
    height: auto;
    overflow: hidden;

    .slick-slider {
      padding: 0 20px;
      margin: 0 30px;

      .slick-list {
        .slider-item {
          .image {
            height: 156px;
            background-size: cover;
            cursor: pointer;
          }
          .image-specialty {
            background: url("../../assets/san_phu_khoa.jpg") center center
              no-repeat;
          }

          .image-medical-facility {
            background: url("../../assets/benh_vien_lao_khoa.jpeg") center
              center no-repeat;
          }

          .outer-bg {
            .image-outstanding-doctor {
              width: 120px;
              height: 120px;
              margin: 0 auto;
              background: center center no-repeat;
              background-size: cover;
              display: flex !important;
              flex-direction: column !important;
              border-radius: 50%;
              cursor: pointer;
              &:hover {
                opacity: 0.8;
              }
            }
          }

          .name {
            margin-top: 10px;
            text-align: center;
            cursor: pointer;
            &:hover {
              font-weight: bold;
              color: blue;
              cursor: pointer;
              opacity: 0.8;
            }
          }
        }

        .slider-item-outstanding-doctor {
          border: 1px solid #eee;
          text-align: center;
          padding: 10px 5px;
        }
        .slick-slide {
          padding: 0 5px;
        }
      }
    }

    .img-customize {
      padding-left: 5px;
      padding-right: 5px;
      border: 1px solid #eee;
      height: 250px;
    }

    .slick-prev {
      height: 45px !important;
      width: 40px !important;
      z-index: 10;
      margin-left: 20px !important;
      background: #45c3d2 !important;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }

    .slick-next {
      height: 45px !important;
      width: 40px !important;
      z-index: 10;
      margin-right: 20px !important;
      background: #45c3d2 !important;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }

    .slick-disable {
      display: none !important;
    }
  }

  .section-header {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 65px;
    margin-right: 55px;

    span {
      font-size: 24px;
      font-weight: bold;
      padding: 15px 0px 5px 0px;
    }

    button {
      background: #e4e0e0;
      text-transform: uppercase;
      display: inline-block;
      padding: 8px 15px;
      color: black;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: yellow;
        font-weight: bold;
        color: white;
      }
    }
  }
}

.section-specialty {
  background-color: white;
  padding-bottom: 10px;
}

.section-medical-facility {
  background-color: #efefef;
  padding-top: 5px;
  padding-bottom: 10px;
}

.section-outstanding-doctor {
  background-color: white;
  padding-bottom: 10px;
}

.home-footer {
  text-align: center;
  padding-top: 10px;
  a {
    text-decoration: none;
  }
}

.section-about {
  .section-about-header {
    width: 50%;
    padding: 20px 10px;
    font-size: 20px;
    font-weight: 600;
  }
  .section-about-content {
    display: flex;
    gap: 20px;
    .content-left {
      position: relative;
      width: 60%;
    }
    .content-right {
      width: 40%;
      p {
        font-size: 20px;
        font-weight: 300;
        font-style: italic;
      }
    }
  }
}
